<md-content layout="row" layout-align="center">
  <md-card layout-margin layout-padding flex="60">
    <div>
      <md-input-container class="md-block">
        <md-icon class="fa-dimmed fa fa-fw fa-user"></md-icon>
        <input placeholder="Name" ng-model="$ctrl.model.full_name" ng-change="$ctrl.setDirty()" type="text">
      </md-input-container>

      <md-input-container>
        <label>Role</label>
        <md-icon class="fa-dimmed fa fa-fw fa-graduation-cap"></md-icon>
        <md-select ng-model="$ctrl.model.role" md-on-close="$ctrl.setDirty()" aria-label="role">
          <md-option value="teacher">teacher</md-option>
          <md-option value="student">student</md-option>
        </md-select>
      </md-input-container>

      <md-input-container>
        <label>Class</label>
        <md-icon class="fa-dimmed fa fa-fw fa-users"></md-icon>
        <md-select ng-model="$ctrl.model.group_id" md-on-close="$ctrl.setDirty()" aria-label="Class">
          <md-option ng-repeat="group in $ctrl.groups" ng-value="group.id">{{group.group_name}}</md-option>
        </md-select>
      </md-input-container>

      <md-input-container class="md-block">
        <md-icon class="fa-dimmed fa fa-fw fa-envelope"></md-icon>
        <input placeholder="E-mail" ng-model="$ctrl.model.email" type="email" ng-change="$ctrl.setDirty()">
      </md-input-container>

      <md-input-container class="md-block">
        <md-icon class="fa-dimmed fa fa-fw fa-slack"></md-icon>
        <input placeholder="Slack Username" ng-model="$ctrl.model.slack_username" type="text" ng-change="$ctrl.setDirty()">
      </md-input-container>

      <md-input-container class="md-block">
        <md-icon class="fa-dimmed fa fa-fw fa-free-code-camp"></md-icon>
        <input placeholder="FreeCodeCamp Username" ng-model="$ctrl.model.freecodecamp_username" type="text" ng-change="$ctrl.setDirty()">
      </md-input-container>

      <md-input-container class="md-block">
        <md-icon class="fa-dimmed fa fa-fw fa-mobile"></md-icon>
        <input placeholder="Mobile" ng-model="$ctrl.model.mobile" type="text" ng-change="$ctrl.setDirty()">
      </md-input-container>
    </div>

    <div layout="row" layout-align="end center">
      <md-button class="md-raised" ng-click="$ctrl.reset()" ng-disabled="!$ctrl.isDirty">
        Reset
      </md-button>
      <md-button class="md-primary md-raised" ng-disabled="!$ctrl.isDirty" ng-click="$ctrl.save()">
        Save
      </md-button>
    </div>

  </md-card>
</md-content>