<div flex-offset-gt-sm='10' flex-gt-sm='80'>
    <br>
    <md-grid-list md-cols-xs="3" md-cols-sm="4" md-cols-md="5" md-cols-lg="6" md-cols-gt-lg="7" md-row-height="1:1.3">
        <md-grid-tile md-rowspan="1" md-colspan="1" ng-repeat="user in $ctrl.users">
            <md-input-container class="users-block">
                <a href="https://github.com/{{user.username}}" target="_blank">
                    <div class="users-link" style="background-image: url(https://avatars.githubusercontent.com/{{user.username}})">
                        <div class="users-name">
                            {{user.username}}
                        </div>
                    </div>
                </a><br>
                <label>{{user.role}}</label>
                <md-select ng-model="role" ng-change="$ctrl.selectedRole(user.id, role, user.username, $event)" aria-label="user role">
                    <md-option ng-disabled="user.role === 'teacher'">Teacher</md-option>
                    <md-option ng-disabled="user.role === 'student'">Student</md-option>
                </md-select>
            </md-input-container>
        </md-grid-tile>
    </md-grid-list>
</div>
<hyf-footer></hyf-footer>