<hyf-toolbar></hyf-toolbar>
<div flex-offset-gt-sm='10' flex-gt-sm='80'>
    <table class="nice-table">
        <thead>
            <tr>
                <th data-field="id">Name</th>
                <th data-field="name">Role</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="user in $ctrl.users">
                <td>{{user.username}}</td>
                <td>
                    <md-input-container>
                        <label>{{user.role}}</label>
                        <md-select ng-change="$ctrl.selectedRole(user.id, role, user.username, $event)" aria-label="user role" ng-model="role">
                            <md-option ng-disabled="user.role === 'teacher'">teacher</md-option>
                            <md-option ng-disabled="user.role === 'student'">student</md-option>
                        </md-select>
                    </md-input-container>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<hyf-footer></hyf-footer>