<div ng-click="$ctrl.clicked($event, module)" class="module-block"
    ng-style="{'left': $ctrl.module.leftPosition + 'px', 'width': $ctrl.module.blockWidth + 'px', 'background':  $ctrl.module.color}">
    <md-tooltip>Run from {{$ctrl.module.startingDate}} to {{$ctrl.module.endingDate}}</md-tooltip>
    {{$ctrl.module.module_name}}

    <md-menu ng-if="$ctrl.isTeacher()">
        <md-button class="edit-module" ng-click="$mdMenu.open($event)" aria-label="Open user's' menu">
            <md-tooltip md-direction='right'>
                Edit {{$ctrl.module.module_name}}
            </md-tooltip>
            <md-icon md-font-set="material-icons">edit</md-icon>
        </md-button>
        <md-menu-content>
            <md-menu-item>
                <md-button ng-click="$ctrl.editRunningModule($event, $ctrl.module)">Edit</md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>

            <md-menu-item>
                <md-button ng-disabled="$ctrl.module.duration === 1" ng-click="$ctrl.splitRunningModule($ctrl.module)">Split</md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>

</div>