@import '../../../assets/scss/variables';
.running-module-block {
    display: inline-block;
    position: relative;
    margin: 0 0 6px 6px;
    height: $module-height;
    line-height: $module-height;
    vertical-align: middle;
    color: white;
    text-shadow: 1px 1px 2px black;
    border-radius: .5em;
    transition: background 300ms ease-in-out;
    cursor: pointer;
    font-size: 15px;
    &:hover {
        background-color: rgba(222, 33, 122, 0.8);
        .edit-module {
            transition: opacity 0.3s ease-in;
            opacity: 1;
        }
    }
    @media (max-width: $breakpoint-width) {
        font-size: .8em;
    }
    .md-icon-button {
        padding: 0;
        margin: 0;
        width: 24px;
    }
}

.selected-module {
    text-decoration: underline;
    font-style: italic;
}

.fa-menu-text {
    display: inline-block;
    margin-left: 10px;
}

.edit-module {
    opacity: 0;
    min-width: 10px;
    &:hover {
        opacity: 0.5;
    }
}

.module-name {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 4px;
}