<div ng-click="$ctrl.onClick($ctrl.module)" class="running-module-block" ng-style="{left: $ctrl.module.leftPosition + 'px', width: $ctrl.module.blockWidth + 'px', background:  $ctrl.module.color}">

    <!--<md-tooltip md-delay="1000">{{$ctrl.module.startingDate}} — {{$ctrl.module.endingDate}}</md-tooltip>-->

    <div layout="row" layout-align="space-between center">
        <div></div>

        <div flex layout="row" layout-align="center center"><span style="text-overflow: ellipsis">{{$ctrl.module.module_name}}</span></div>

        <md-menu ng-if="$ctrl.isTeacher()">
            <md-button class="md-icon-button" ng-click="$mdMenu.open($event)" aria-label="Open user's' menu">
                <md-icon md-font-set="material-icons" style="color: white">more_vert</md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="$ctrl.editRunningModule($event, $ctrl.module)">
                        <i class="hyf-dimmed fa fa-fw fa-pencil"></i> <span class="fa-menu-text">Edit</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-disabled="$ctrl.module.duration <= 1" ng-click="$ctrl.splitRunningModule($ctrl.module)">
                        <i class="hyf-dimmed fa fa-fw fa-scissors"></i> <span class="fa-menu-text">Split</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-disabled="$ctrl.module.position === 0" ng-click="$ctrl.moveLeft()">
                        <i class="hyf-dimmed fa fa-fw fa-arrow-left"></i> <span class="fa-menu-text">Move left</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-disabled="$ctrl.module.position >= $ctrl.modules.length - 1" ng-click="$ctrl.moveRight()">
                        <i class="hyf-dimmed fa fa-fw fa-arrow-right"></i> <span class="fa-menu-text">Move right</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="$ctrl.weekLonger()">
                        <i class="hyf-dimmed fa fa-fw fa-plus-circle"></i> <span class="fa-menu-text">Week longer</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-disabled="$ctrl.module.duration <= 1" ng-click="$ctrl.weekShorter()">
                        <i class="hyf-dimmed fa fa-fw fa-minus-circle"></i> <span class="fa-menu-text">Week shorter</span>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</div>