@import '../../../assets/scss/variables';

.running-module-block {
    display: inline-block;
    position: relative;
    margin: 0 0 6px 6px;
    height: $module-height;
    line-height: $module-height;
    // text-align: center;
    vertical-align: middle;
    color: white;
    text-shadow: 1px 1px 2px black;
    border-radius: .5em;
    transition: background 300ms ease-in-out;
    cursor: pointer;
    &:hover {
        background-color: rgba(222, 33, 122, 0.8);
        .edit-module {
            transition: opacity 0.3s ease-in;
            opacity: 1;
        }
    }
    @media (max-width: $breakpoint-width) {
        font-size: .8em;
    }
    .md-icon-button {
        width: 30px;
        margin: 0 6px 0 0;
    }
}

.edit-module {
    opacity: 0;
    min-width: 10px;
    &:hover {
        opacity: 0.5;
    }
}


