<md-dialog aria-label="Adding Module." flex='60'>
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Update Module {{$ctrl.currentModule.module_name}}..</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
          <md-icon md-font-set="material-icons">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content aria-label="Adding Module.">
      <div class="md-dialog-content">
        <md-input-container class="md-block">
          <label>Module name</label>
          <input type="text" ng-model="$ctrl.currentModule.module_name">
        </md-input-container>
        <md-input-container class="md-block">
          <label>Repository name</label>
          <input ng-model="$ctrl.currentModule.git_repo" type="text">
        </md-input-container>
        <md-input-container class="md-block">
          <label>Github URL</label>
          <input ng-model="$ctrl.currentModule.git_url" type="url">
        </md-input-container>
        <md-input-container class="md-block">

          <label>Duration</label>
          <input ng-model="$ctrl.currentModule.default_duration" type="number" min="1">
        </md-input-container>
        <md-input-container class="md-block" ng-style="{'color': module.color}">
          <label>Color</label>
          <input colorpicker="hex" type="text" ng-model="$ctrl.currentModule.color" />
        </md-input-container>

        <md-input-container class="md-block">
          <label>Description</label>
          <textarea ng-model="$ctrl.currentModule.description" md-maxlength="150" maxlength="150" rows="3" md-select-on-focus></textarea>
        </md-input-container>
        <md-input-container class="md-block">
          <md-checkbox disabled ng-true-value="1" ng-model="$ctrl.currentModule.optional" aria-label="Optional">Optional</md-checkbox>
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-raised md-warn" ng-click="$ctrl.cancel()">
        Cancel
      </md-button>
      <span flex></span>

      <md-button class="md-primary" type='submit' ng-click="$ctrl.update()">
        Update
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>