.timeline {
    margin-top: 15px;
}

.timline-date {
    margin-left: 5px;
    position: absolute;
    height: 40px;
    z-index: 3;
}

.indicator {
    width: 0;
    border: 0 dashed #0000FF;
    border-left-width: 1px;
    position: absolute;
    z-index: 3;
}

#main-timeline {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    position: absolute;
    z-index: 1;
}

.edit-module {
    opacity: 0;
    min-width: 10px;
    &:hover {
        opacity: 0.5;
    }
}

.module-block {
    border-radius: .5em;
    transition: background 300ms ease-in-out;
    display: inline-block;
    position: relative;
    height: 55px;
    margin: 0 0 6px 6px;
    text-align: center;
    vertical-align: middle;
    line-height: 55px;
    color: white;
    text-shadow: 1px 1px 2px black;
    &:hover {
        cursor: pointer;
        background-color: rgba(222, 33, 122, 0.8);
        .edit-module {
            transition: opacity 0.3s ease-in;
            opacity: 1;
        }
    }
}

.modules-container {
    margin-top: 20px;
}

.githubIcon {
    color: black;
}

