
.fa.fa-graduation-cap,
.fa.fa-slack,
.fa.fa-envelope,
.fa.fa-mobile,
.fa.fa-clock-o {
    background-color: white;
}


.button.button-icon.input-button {
  position: absolute;
  right: 0;
  top: 5px;
  color: #bbb;
}