<md-dialog aria-label="Adding Group." flex='60'>
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Adding Group..</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
                    <md-icon md-font-set="material-icons">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content aria-label="Adding Group.">
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <input type="text" ng-model="group_name" placeholder="Group name..">
                </md-input-container>
                <md-input-container class="md-block">
                    <input ng-model="starting_date" type="date" placeholder="Starting date..">
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button class="md-raised md-warn" ng-click="$ctrl.cancel()">
                Cancel
            </md-button>
            <span flex></span>
            <md-button class="md-primary" type='submit' ng-disabled="!group_name && !starting_date" ng-click="$ctrl.add(group={group_name, starting_date})">
                Add
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>