:root {
    --normal-day: 63px;
    /*--small-day: 70px;*/
    --normal-week-width: 57px;
    /*--small-week-width: 64px;*/
    --classes-width: 110px;
    /*--small-classes-width: 125px;*/
}


/* Timeline blocks */

.block-no-1 {
    width: calc(var(--normal-day) * 0 + var(--normal-week-width));
}

.block-no-2 {
    width: calc(var(--normal-day) * 1 + var(--normal-week-width));
}

.block-no-3 {
    width: calc(var(--normal-day) * 2 + var(--normal-week-width));
}

.block-no-4 {
    width: calc(var(--normal-day) * 3 + var(--normal-week-width));
}

.block-no-5 {
    width: calc(var(--normal-day) * 4 + var(--normal-week-width));
}

.block-no-6 {
    width: calc(var(--normal-day) * 5 + var(--normal-week-width));
}


/* Timeline weeks */

.block-week-1 {
    left: calc(var(--normal-day) * 0 + var(--classes-width));
}

.block-week-2 {
    left: calc(var(--normal-day) * 1 + var(--classes-width));
}

.block-week-3 {
    left: calc(var(--normal-day) * 2 + var(--classes-width));
}

.block-week-4 {
    left: calc(var(--normal-day) * 3 + var(--classes-width));
}

.block-week-5 {
    left: calc(var(--normal-day) * 4 + var(--classes-width));
}

.block-week-6 {
    left: calc(var(--normal-day) * 5 + var(--classes-width));
}

.block-week-7 {
    left: calc(var(--normal-day) * 6 + var(--classes-width));
}

.block-week-8 {
    left: calc(var(--normal-day) * 7 + var(--classes-width));
}

.block-week-9 {
    left: calc(var(--normal-day) * 8 + var(--classes-width));
}

.block-week-10 {
    left: calc(var(--normal-day) * 9 + var(--classes-width));
}

.block-week-11 {
    left: calc(var(--normal-day) * 10 + var(--classes-width));
}

.block-week-12 {
    left: calc(var(--normal-day) * 11 + var(--classes-width));
}

.block-week-13 {
    left: calc(var(--normal-day) * 12 + var(--classes-width));
}

.block-week-14 {
    left: calc(var(--normal-day) * 13 + var(--classes-width));
}

.block-week-15 {
    left: calc(var(--normal-day) * 14 + var(--classes-width));
}

.block-week-16 {
    left: calc(var(--normal-day) * 15 + var(--classes-width));
}

.block-week-17 {
    left: calc(var(--normal-day) * 16 + var(--classes-width));
}

.block-week-18 {
    left: calc(var(--normal-day) * 17 + var(--classes-width));
}

.block-week-19 {
    left: calc(var(--normal-day) * 18 + var(--classes-width));
}

.block-week-20 {
    left: calc(var(--normal-day) * 19 + var(--classes-width));
}

.block-week-21 {
    left: calc(var(--normal-day) * 20 + var(--classes-width));
}

.block-week-22 {
    left: calc(var(--normal-day) * 21 + var(--classes-width));
}

.block-week-23 {
    left: calc(var(--normal-day) * 22 + var(--classes-width));
}

.block-week-24 {
    left: calc(var(--normal-day) * 23 + var(--classes-width));
}

.block-week-25 {
    left: calc(var(--normal-day) * 24 + var(--classes-width));
}

.block-week-26 {
    left: calc(var(--normal-day) * 25 + var(--classes-width));
}

.block-week-27 {
    left: calc(var(--normal-day) * 26 + var(--classes-width));
}

.block-week-28 {
    left: calc(var(--normal-day) * 27 + var(--classes-width));
}

.block-week-29 {
    left: calc(var(--normal-day) * 28 + var(--classes-width));
}

.block-week-30 {
    left: calc(var(--normal-day) * 29 + var(--classes-width));
}

.block-week-31 {
    left: calc(var(--normal-day) * 30 + var(--classes-width));
}

.block-week-32 {
    left: calc(var(--normal-day) * 31 + var(--classes-width));
}

.block-week-33 {
    left: calc(var(--normal-day) * 32 + var(--classes-width));
}

.block-week-34 {
    left: calc(var(--normal-day) * 33 + var(--classes-width));
}

.block-week-35 {
    left: calc(var(--normal-day) * 34 + var(--classes-width));
}

.block-week-36 {
    left: calc(var(--normal-day) * 35 + var(--classes-width));
}

.block-week-37 {
    left: calc(var(--normal-day) * 36 + var(--classes-width));
}

.block-week-38 {
    left: calc(var(--normal-day) * 37 + var(--classes-width));
}

.block-week-39 {
    left: calc(var(--normal-day) * 38 + var(--classes-width));
}

.block-week-40 {
    left: calc(var(--normal-day) * 39 + var(--classes-width));
}

.block-week-41 {
    left: calc(var(--normal-day) * 40 + var(--classes-width));
}

.block-week-42 {
    left: calc(var(--normal-day) * 41 + var(--classes-width));
}

.block-week-43 {
    left: calc(var(--normal-day) * 42 + var(--classes-width));
}

.block-week-44 {
    left: calc(var(--normal-day) * 43 + var(--classes-width));
}

.block-week-45 {
    left: calc(var(--normal-day) * 44 + var(--classes-width));
}

.block-week-46 {
    left: calc(var(--normal-day) * 45 + var(--classes-width));
}

.block-week-47 {
    left: calc(var(--normal-day) * 46 + var(--classes-width));
}

.block-week-48 {
    left: calc(var(--normal-day) * 47 + var(--classes-width));
}

.block-week-49 {
    left: calc(var(--normal-day) * 48 + var(--classes-width));
}

.block-week-50 {
    left: calc(var(--normal-day) * 49 + var(--classes-width));
}

.block-week-51 {
    left: calc(var(--normal-day) * 50 + var(--classes-width));
}

.block-week-52 {
    left: calc(var(--normal-day) * 51 + var(--classes-width));
}

.block-week-53 {
    left: calc(var(--normal-day) * 52 + var(--classes-width));
}

@media (max-width: 550px) {
    .module-block {
        font-size: .8em;
    }
    .class-block {
        font-size: .8em;
        /*width: var(--small-classes-width) !important;*/
    }
    /*.block-no-1 {
        width: calc(var(--small-day) * 0 + var(--small-week-width));
    }
    .block-no-2 {
        width: calc(var(--small-day) * 1 + var(--small-week-width));
    }
    .block-no-3 {
        width: calc(var(--small-day) * 2 + var(--small-week-width));
    }
    .block-no-4 {
        width: calc(var(--small-day) * 3 + var(--small-week-width));
    }
    .block-no-5 {
        width: calc(var(--small-day) * 4 + var(--small-week-width));
    }
    .block-no-6 {
        width: calc(var(--small-day) * 5 + var(--small-week-width));
    }
    .block-week-1 {
        left: calc(var(--small-day) * 0 + var(--small-classes-width));
    }
    .block-week-2 {
        left: calc(var(--small-day) * 1 + var(--small-classes-width));
    }
    .block-week-3 {
        left: calc(var(--small-day) * 2 + var(--small-classes-width));
    }
    .block-week-4 {
        left: calc(var(--small-day) * 3 + var(--small-classes-width));
    }
    .block-week-5 {
        left: calc(var(--small-day) * 4 + var(--small-classes-width));
    }
    .block-week-6 {
        left: calc(var(--small-day) * 5 + var(--small-classes-width));
    }
    .block-week-7 {
        left: calc(var(--small-day) * 6 + var(--small-classes-width));
    }
    .block-week-8 {
        left: calc(var(--small-day) * 7 + var(--small-classes-width));
    }
    .block-week-9 {
        left: calc(var(--small-day) * 8 + var(--small-classes-width));
    }
    .block-week-10 {
        left: calc(var(--small-day) * 9 + var(--small-classes-width));
    }
    .block-week-11 {
        left: calc(var(--small-day) * 10 + var(--small-classes-width));
    }
    .block-week-12 {
        left: calc(var(--small-day) * 11 + var(--small-classes-width));
    }
    .block-week-13 {
        left: calc(var(--small-day) * 12 + var(--small-classes-width));
    }
    .block-week-14 {
        left: calc(var(--small-day) * 13 + var(--small-classes-width));
    }
    .block-week-15 {
        left: calc(var(--small-day) * 14 + var(--small-classes-width));
    }
    .block-week-16 {
        left: calc(var(--small-day) * 15 + var(--small-classes-width));
    }
    .block-week-17 {
        left: calc(var(--small-day) * 16 + var(--small-classes-width));
    }
    .block-week-18 {
        left: calc(var(--small-day) * 17 + var(--small-classes-width));
    }
    .block-week-19 {
        left: calc(var(--small-day) * 18 + var(--small-classes-width));
    }
    .block-week-20 {
        left: calc(var(--small-day) * 19 + var(--small-classes-width));
    }
    .block-week-21 {
        left: calc(var(--small-day) * 20 + var(--small-classes-width));
    }
    .block-week-22 {
        left: calc(var(--small-day) * 21 + var(--small-classes-width));
    }
    .block-week-23 {
        left: calc(var(--small-day) * 22 + var(--small-classes-width));
    }
    .block-week-24 {
        left: calc(var(--small-day) * 23 + var(--small-classes-width));
    }
    .block-week-25 {
        left: calc(var(--small-day) * 24 + var(--small-classes-width));
    }
    .block-week-26 {
        left: calc(var(--small-day) * 25 + var(--small-classes-width));
    }
    .block-week-27 {
        left: calc(var(--small-day) * 26 + var(--small-classes-width));
    }
    .block-week-28 {
        left: calc(var(--small-day) * 27 + var(--small-classes-width));
    }
    .block-week-29 {
        left: calc(var(--small-day) * 28 + var(--small-classes-width));
    }
    .block-week-30 {
        left: calc(var(--small-day) * 29 + var(--small-classes-width));
    }
    .block-week-31 {
        left: calc(var(--small-day) * 30 + var(--small-classes-width));
    }
    .block-week-32 {
        left: calc(var(--small-day) * 31 + var(--small-classes-width));
    }
    .block-week-33 {
        left: calc(var(--small-day) * 32 + var(--small-classes-width));
    }
    .block-week-34 {
        left: calc(var(--small-day) * 33 + var(--small-classes-width));
    }
    .block-week-35 {
        left: calc(var(--small-day) * 34 + var(--small-classes-width));
    }
    .block-week-36 {
        left: calc(var(--small-day) * 35 + var(--small-classes-width));
    }
    .block-week-37 {
        left: calc(var(--small-day) * 36 + var(--small-classes-width));
    }
    .block-week-38 {
        left: calc(var(--small-day) * 37 + var(--small-classes-width));
    }
    .block-week-39 {
        left: calc(var(--small-day) * 38 + var(--small-classes-width));
    }
    .block-week-40 {
        left: calc(var(--small-day) * 39 + var(--small-classes-width));
    }
    .block-week-41 {
        left: calc(var(--small-day) * 40 + var(--small-classes-width));
    }
    .block-week-42 {
        left: calc(var(--small-day) * 41 + var(--small-classes-width));
    }
    .block-week-43 {
        left: calc(var(--small-day) * 42 + var(--small-classes-width));
    }
    .block-week-44 {
        left: calc(var(--small-day) * 43 + var(--small-classes-width));
    }
    .block-week-45 {
        left: calc(var(--small-day) * 44 + var(--small-classes-width));
    }
    .block-week-46 {
        left: calc(var(--small-day) * 45 + var(--small-classes-width));
    }
    .block-week-47 {
        left: calc(var(--small-day) * 46 + var(--small-classes-width));
    }
    .block-week-48 {
        left: calc(var(--small-day) * 47 + var(--small-classes-width));
    }
    .block-week-49 {
        left: calc(var(--small-day) * 48 + var(--small-classes-width));
    }
    .block-week-50 {
        left: calc(var(--small-day) * 49 + var(--small-classes-width));
    }
    .block-week-51 {
        left: calc(var(--small-day) * 50 + var(--small-classes-width));
    }
    .block-week-52 {
        left: calc(var(--small-day) * 51 + var(--small-classes-width));
    }
    .block-week-53 {
        left: calc(var(--small-day) * 52 + var(--small-classes-width));
    }*/
}