@import url("calendar.css");
@import url("readme.css");
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
#homeLogin {
    background: url(/images/bg.jpg) no-repeat center center fixed;
    font-size: 14px;
    line-height: 1.70857;
    color: white;
    overflow: hidden;
}

.toolbar-logo {
    height: 85%;
}

.timliene {
    margin-top: 15px;
}

.timline-date {
    margin-left: 5px;
    position: absolute;
    height: 40px;
    z-index: 3;
}

.indicator {
    width: 0;
    border: 0;
    border-left: 1px;
    border-style: dashed;
    border-color: #0000FF;
    position: absolute;
    z-index: 3;
}

#main-timeline {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    position: absolute;
    z-index: 1;
}

.classes-container {
    vertical-align: middle;
    z-index: 2;
    margin-top: 20px;
    overflow: hidden;
    position: absolute;
    background-color: rgb(250, 250, 250);
}

.class-block {
    display: block;
    width: 150px;
    height: 55px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 6px;
    text-align: center;
    border-bottom-left-radius: .5em;
    border-top-left-radius: .5em;
    vertical-align: middle;
    line-height: 55px;
}

.module-block {
    border-radius: .5em;
    transition: background 300ms ease-in-out;
    display: inline-block;
    position: relative;
    /*width: 300px;*/
    height: 55px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 6px;
    margin-bottom: 6px;
    text-align: center;
    vertical-align: middle;
    line-height: 55px;
}

.modules-container {
    margin-top: 20px;
}

.module-block:hover {
    cursor: pointer;
    background-color: rgba(222, 33, 122, 0.8)
}

.readme-header {
    /*margin-top: 370px;*/
}

.githubIcon {
    color: black;
}

div .readmeHeader {
    transition: all 2s fade;
    /*background-color: rgba(222, 33, 122, 0.8);*/
}

.homeLogin {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    border: 4px solid rgba(255, 255, 255, 0.2);
    /*border-top-left-radius: 6%;*/
    color: #ffffff;
}

.button {
    border: 1px solid #0a3c59;
    background: #3e779d;
    background: -webkit-gradient(linear, left top, left bottom, from(#20323d), to(#20323d));
    background: -webkit-linear-gradient(top, #acc1cf, #3e779d);
    background: -moz-linear-gradient(top, #acc1cf, #3e779d);
    background: -ms-linear-gradient(top, #acc1cf, #3e779d);
    background: -o-linear-gradient(top, #acc1cf, #3e779d);
    background-image: -ms-linear-gradient(top, #acc1cf 0%, #3e779d 100%);
    padding: 10.5px 21px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 9px;
    -webkit-box-shadow: rgba(255, 255, 255, 0.9) 0 10px 0, inset rgba(255, 255, 255, 0.4) 0 4px 0;
    -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    text-shadow: #7ea4bd 0 1px 0;
    color: #0c1c26;
    font-size: 14px;
    font-family: helvetica, serif;
    text-decoration: none;
    vertical-align: middle;
}

.button:hover {
    border: 1px solid #0a3c59;
    text-shadow: #1e4158 0 1px 0;
    background: #3e779d;
    background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
    background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
    background: -moz-linear-gradient(top, #65a9d7, #3e779d);
    background: -ms-linear-gradient(top, #65a9d7, #3e779d);
    background: -o-linear-gradient(top, #65a9d7, #3e779d);
    background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
    color: #fff;
}

.button:active {
    text-shadow: #1e4158 0 1px 0;
    border: 1px solid #0a3c59;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#3e779d));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
    color: #fff;
}

.nice-table {
    border-collapse: collapse;
    width: 100%;
}

.nice-table th,
.nice-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.nice-table tr:hover {
    background-color: #f5f5f5
}


/* footer */

.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    margin-top: 0px;
    padding: 45px;
    display: flex;
    display: -webkit-flex;
}

.footer-logo,
.footer-about,
.footer-icons,
.footer-links {
    display: inline-block;
    vertical-align: top;
}

.footer-logo {
    flex-grow: 1;
}

.footer-about {
    flex-grow: 3;
}

.footer-logo img {
    width: 60%;
}

.footer-links {
    margin-bottom: 10px;
}

.footer-links a {
    color: #ffffff;
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    font-weight: bold;
}

.footer-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-about span {
    display: block;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 5px;
}

.fa {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 20px;
    background-color: #33383b;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
}

.fa:hover {
    background-color: #585d60;
}

.fa-facebook {
    color: #3b5998;
}

.fa-twitter {
    color: #55acee;
}

.fa-linkedin {
    color: #007bb5;
}

.fa-github {
    color: #000000;
}

@media (max-width: 541px) {
    .footer-logo img {
        visibility: hidden;
    }
    .classes-container,
    #main-timeline {
        margin-left: 5px;
    }
}