#homeLogin {
    background: url(/images/bg.jpg) no-repeat center center fixed;
    font-size: 14px;
    line-height: 1.70857;
    color: white;
    overflow: hidden;
}

a {
    color: #f4ad42;
}

.homeLogin {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

.footer {
    position: absolute;
    bottom: 20px;
    padding: 10px;
}

.footer a {
    text-decoration: none;
}