<md-menu>
    <md-icon md-font-set="material-icons" ng-click="$mdMenu.open($event)">more_vert</md-icon>
    <md-menu-content>
        <md-menu-item>
            <md-button class="md-button" ng-click="$ctrl.updateModule($event)">
                <md-icon md-font-set="material-icons">edit</md-icon>Edit {{$ctrl.module.module_name}}
            </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
            <md-button ng-disabled="$ctrl.module.ref_count !== 0" class="md-warn" ng-click="$ctrl.delete()">
                <md-icon md-font-set="material-icons">delete</md-icon>Delete {{$ctrl.module.module_name}}
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>