<li style="display: flex" dnd-draggable="$ctrl.module" dnd-effect-allowed="move" dnd-moved="$ctrl.move()" dnd-selected="models.selected = $ctrl.module"
    ng-style="{'background-color': $ctrl.module.color,'width': $ctrl.module.default_duration*16+'%'}">

    <div style="width: 100%">
        <hyf-modules-list-item-menu module="$ctrl.module" on-changed="$ctrl.onChanged(module)" on-delete="$ctrl.onDelete(module)"></hyf-modules-list-item-menu>
        {{$ctrl.module.module_name}}
        <!--<md-tooltip md-direction='right'>
            {{ $ctrl.module.description}} Run for: {{ $ctrl.module.default_duration}} week(s).
        <md-tooltip>-->
    </div>
    <hyf-resizer on-resized="$ctrl.onResized(width)"></hyf-resizer>
</li>