<md-list layout='column' flex-offset-gt-sm='10' flex-gt-sm='80'>
    <div layout='row'>
        <span flex></span>
        <md-button class="md-raised md-mini md-primary" ng-click="$ctrl.addModuleModal($event)">
            Add module
        </md-button>
    </div>
    <md-list-item ng-repeat="module in $ctrl.modules" ng-click="$ctrl.editModule($event, module, $index)">
        <span><b>{{ module.module_name }}</b>{{ module.description }}</span>
    </md-list-item>

</md-list>
<hyf-footer></hyf-footer>