<md-dialog aria-label="Adding Module." flex='60' ng-show="$ctrl.dontShow">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Adding Running Module..</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
                    <md-icon md-font-set="material-icons">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content aria-label="Adding Module.">
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <label>{{module_name || 'Select Module'}}</label>
                    <md-select aria-label="user role" ng-model="module_name">
                        <md-option ng-repeat="module in $ctrl.runningModules">{{module.module_name}}</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>{{afterModule || 'After Module'}}</label>
                    <md-select aria-label="user role" ng-model="afterModule">
                        <md-option ng-repeat="module in $ctrl.runningModules">{{module.module_name}}</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>{{teacher1 || 'Teacher 1'}}</label>
                    <md-select aria-label="user role" ng-model="teacher1">
                        <md-option ng-repeat="user in $ctrl.users">{{user.username}}</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>{{teacher2 || 'Teacher 2'}}</label>
                    <md-select aria-label="user role" ng-model="teacher2">
                        <md-option ng-repeat="user in $ctrl.users">{{user.username}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button class="md-raised md-warn" ng-click="$ctrl.cancel()">
                Cancel
            </md-button>
            <span flex></span>
            <md-button class="md-primary" ng-disabled="!module_name && !afterModule" ng-click="$ctrl.add({module_name, afterModule, teacher1, teacher2})">
                Add
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>