
<form  method="post"  data-ng-submit="updateInfo(class)">
<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true" ></span></button>
            <h4 class="modal-title custom_align" id="Heading">Edit class</h4>
          </div>
          <div class="modal-body">

            <div class="form-group">
                <input class="form-control " type="text" ng-model="class.className" placeholder="Class name" >
            </div>
             
            <div class="form-group">
                <input type="date" class="form-control"  ng-model="class.classStartDate"  required>
            </div>
            <div class="form-group">
                <input type="date" class="form-control" ng-model="class.classEndDate"  required>
            </div>


         </div>
         <div class="modal-footer ">
            <button data-ng-submit="updateInfo(class)" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Edit</button>
         </div>
        </div>
      </div>
   </div>
</form>
