<!--   start Add user form    -->

<form  method="post"  data-ng-submit="insertUser(userInfo)">
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true" ></span></button>
            <h4 class="modal-title custom_align" id="Heading">Add New User</h4>
          </div>
          <div class="modal-body">
              <div class="form-group">
                <input class="form-control " type="text" ng-model="userInfo.userFirstName" placeholder="First Name" name="userFirstName" required>
              </div>
            <div class="form-group">
                <input class="form-control " type="text" ng-model="userInfo.userLastName" placeholder="Last Name" name="userLastName">
            </div>
             
            <div class="form-group">
                <input class="form-control" type="text" ng-model="userInfo.userAddress" placeholder="Address" name="userAddress" required>
            </div>
            <div class="form-group">
                <input class="form-control " type="email" ng-model="userInfo.userEmail" placeholder="Email" name="userEmail" required>
            </div>
            <div class="form-group">
                <input class="form-control " type="password" ng-model="userInfo.userPassword" placeholder="password" name="userPassword" > 
            </div>
            <div class="form-group">
               <input class="form-control " type="number" ng-model="userInfo.userMobile" placeholder="Mobile Number" name="userMobile">
            </div>

            <!-- <div class="form-group">
               <input class="form-control " type="text" ng-model="userInfo.userRole" placeholder="Role" name="userRole" required>
            </div> -->

            <div class="form-group">
              <select ng-model="userInfo.userRole"   class="form-control col-md-4">
                <option value="" selected>Select Role</option>
                  <option>Admin</option>
                  <option>Mentor</option>
                  <option>Student</option>
              </select>
            </div>





            <div ng-controller="classesController" class="form-group">
              <select ng-model="userInfo.userClass"   class="form-control col-md-4" placeholder="Select Class">
                <option value="" selected>Select Class</option>
                  <option 
                      ng-repeat="class in classesData"
                      data-ng-if="class.className"
                      ng-value="{{class.classId}}" 
                       >
                       {{class.className}}
                  </option>
              </select>
            </div>

<!-- 
            <div class="form-group">
                <label class="checkbox-inline" for="checkboxes-0">
                  <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1">
                  Send the account details to the User?
                </label>
            </div> -->

         </div>
         <div class="modal-footer ">
            <button ng-submit="insertInfo(userInfo)" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Add</button>
         </div>
        </div>
      </div>
   </div>
</form>
