<form method="post" action="/invite">
<div class="modal fade" id="invite" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true" ></span></button>
            <h4 class="modal-title custom_align" id="Heading">Invite new user</h4>
          </div>
          <div class="modal-body">
            
            
            <div class="form-group">
                <input class="form-control " type="email" placeholder="Email" name="useremail" >
            </div>
           <!--  <div class="form-group">
                <textarea class="form-control " type="text" placeholder="Message" name="userbody" required></textarea>
            </div> -->
                   
      </div>
          <div class="modal-footer ">
            <button type="submit" name="submit" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Invite</button>
          </div>
        </div>
  </div>
    </div>
</form>




