<nav class="navbar-default navbar-side" role="navigation" id="nav">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li class="text-center">
                <img style="width:220px; height:220px;border-radius:125px" src="../images/hyf.png"/>
            </li>
            
            <li>
                <a   class="active-menu" href="#/"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
            </li>
            <li>
                <a  href="#/announcement"><i class="fa fa-bullhorn fa-2x" aria-hidden="true""></i> Announcements</a>
            </li>
            <li>
                <a  href="#/"><i class="fa fa-users fa-2x"></i> Users</a>
            </li>
            <li>
                <a  href="#/lessons"><i class="fa fa-tasks fa-2x"></i> Lessons</a>
            </li>
            <li>
                <a  href="#/classes"><i class="glyphicon glyphicon-th fa-2x"></i> Classes</a>
            </li>
            
            <li>
                <a  href="#/modules"><i class="fa fa-pie-chart fa-2x"></i> Modules </a>
            </li>                
        </ul>
    </div>
</nav>
