<footer class="footer-distributed">
    <div class="footer-logo">
        <img src="/images/logo.png">

        <div class="footer-icons">
            <a href="https://www.fb.com/hackyourfuturenow"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/hackyourfutures"><i class="fa fa-twitter"></i></a>
            <a href="https://www.linkedin.com/company-beta/10303247/"><i class="fa fa-linkedin"></i></a>
            <a href="https://github.com/hyf-project5/hyfer"><i class="fa fa-github"></i></a>
        </div>
    </div>

    <div class="footer-about">
        <div class="footer-links">
            <a href="#">Home</a> .
            <a href="#">Privacy Policy</a> .
            <a href="#">Contact</a></p>
        </div>
        <p class="footer-about">
            <span>About hyfer</span> Hyfer is a learning platform of <a href="http://www.hackyourfuture.net/">Hack Your Future</a>, a code school (foundation) teaching computer programming to refugees. The website was developet as a project in Hack Your
            Future curriculum. Coded by <a href="https://github.com/hasanshahoud">Hasan Shahoud</a> and <a href="https://github.com/aboRoma">Jack Sacali</a> under supervision of HYF teachers <a href="https://github.com/remarcmij">Jim Cramer</a>, <a href="https://github.com/michahell">Michael Trouw</a>,
            <a href="https://github.com/pcelentano">Pablo Celentano</a> and <a href="https://github.com/unmeshvrije">Unmesh Joshi</a>.
        </p>
    </div>
</footer>