<footer class="footer-distributed">
    <div class="footer-logo">
        <img src="/images/logo.png">

        <div class="footer-icons">
            <a href="https://www.fb.com/hackyourfuturenow"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/hackyourfutures"><i class="fa fa-twitter"></i></a>
            <a href="https://www.linkedin.com/company-beta/10303247/"><i class="fa fa-linkedin"></i></a>
            <a href="https://github.com/hyf-project5/hyfer"><i class="fa fa-github"></i></a>
        </div>
    </div>

    <div class="footer-about">
        <div class="footer-links">
            <a href="#">Home</a> .
            <a href="#">Privacy Policy</a> .
            <a href="#">Contact</a></p>
        </div>
        <p class="footer-about">
            <span>About HYFer</span> The core language we teach is JavaScript, and we teach our students HTML, CSS, Node, Angular, Express and Databasing in MySQL/MongoDB. However what we value most is that our students learn how to think like a programmer,
            how to solve problems, and how to manage a project. With this fundamental knowledge our students should be ready for their first web-developer job.
        </p>

    </div>












</footer>