.student-block {
    display: block;
    height: 60px;
    margin-top: 1px;
    margin-right: 5px;
    margin-left: 20px;
    margin-bottom: 0px;
    text-align: left;
    line-height: 59px;
    white-space:nowrap;
}
.check-box{
    height: 30px;
    width: 80px;
    padding: 15px;
    margin:auto;
    
}

.check-box::after{
    content: '';
    width: 0%;
    height: 2px;
    margin: 9px auto;
    background: saddlebrown;
    transition: width 1s ease-in-out;
}

.border::after{
    width: 100%;
}

.check-box-block{
    overflow-x:auto;
}
.weeks-block{
    margin-left:10;
    text-align: center;
}
.week{
    position: relative;
    white-space:nowrap;
    min-width: 220px;
    text-align: center;
}

/**
TODO: add border: solid saddlebrown 2px; when the check boxes have been checkd..
**/