<div id="main-timeline">

    <hyf-timeline-indicator classes='$ctrl.classes' timeline='$ctrl.timeline'></hyf-timeline-indicator>

    <div class="modules-container">
        <div ng-repeat="class in $ctrl.classes">
            <div ng-repeat="module in $ctrl.timeline[class]" ng-click="$ctrl.showReadme(module)" class="module-block {{module.startingWeekClass}} {{module.blockClass}}" ng-style="{'left': module.leftPosition + 'px', 'width': module.blockWidth + 'px', 'background':  module.bgColor}">
                <md-tooltip>Run from {{module.startingDate}} to {{module.endingDate}}</md-tooltip>
                {{module.module_name}}
                <md-button class="edit-module" ng-show="$ctrl.isTeacher()" ng-click="$ctrl.editRunningModule($event, module)">
                    <md-tooltip md-direction='right'>
                        Edit {{module.module_name}}
                    </md-tooltip>
                    <md-icon md-font-set="material-icons">edit</md-icon>
                </md-button>
            </div>
        </div>
    </div>
</div>

<div class="readme-header" ng-style="{'margin-top': $ctrl.readmeHeaderTop + 'px'}">
    <h2>
        {{$ctrl.readme.moduleName}} README.md
        <md-button ng-href="{{$ctrl.readme.gitUrl}}" target='_blank' class="md-icon-button" aria-label="Github icon">
            <md-tooltip md-direction="top">
                Go to Github
            </md-tooltip>
            <md-icon class="githubIcon" md-svg-icon="images/github.svg"></md-icon>
        </md-button>
        <hr>
    </h2>
</div>

<md-card>
    <md-card-content class="markdown-body" ng-bind-html="$ctrl.readmeFile">
    </md-card-content>
</md-card>