#timeline-slider {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    position: absolute;
    z-index: 1;
    padding-bottom: 8px;
}

.modules-container {
    margin-top: 20px;
}

.slider-fade-in {
    opacity: 1;
    transition: opacity 250ms;
    &.slider-hide {
        visibility: hidden;
        opacity: 0;
    }
}